body {
    
    text-align: center;
    margin: 40px;
  }
  
  table {
    border-collapse: collapse;
    margin: 70px;
    margin: auto;
  }
  
  td {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 19px;
  }
  
  
  
  .sudoku {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }
  
  .cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #d3d0d8;
    background-color:darkcyan;
  }
  
  .celltablo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(10, 79, 79);
    border: 1px solid #ddd;
  }
  
  h1 {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 25px;
    color: darkcyan;
  }
  
